ul#buddykit-filelist {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    margin: -1.25px -2.5px;
}
ul#buddykit-filelist li.buddykit-filelist-item {
    list-style: none;
    float: left;
    position: relative;
    height: 90px;
    width: 90px;
    overflow: hidden;
    background: #cecece;
    margin: 0 2.5px 1.25px 0;

}
#buddykit-filelist-wrap{
    padding: 15px 15px;
}
a#buddykit-flush-temporary-files-btn.button {
    background: transparent;
    padding: 0;
    margin: 10px 0 0 0;
    border: 0 none;
    border-radius: 0;
    color: red;
}
a#buddykit-flush-temporary-files-btn.button:hover {
    box-shadow: none;
}
ul#buddykit-filelist li.buddykit-filelist-item.error{
    border: 2px solid #ef4343;
    color: #ef4343;
    text-align: center;
    padding-top: 18px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
ul#buddykit-filelist li.buddykit-filelist-item.error.done {
    opacity: 0;
    display: none;
}
ul#buddykit-filelist li.buddykit-filelist-item.loading {
    opacity: 0.5;
}
ul#buddykit-filelist li.buddykit-filelist-item > a.buddykit-filelist-item-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 16px;
    color: #fff;
    opacity: 0.75;
    text-shadow: 0px 1px 5px black;
    display: none;
}

ul#buddykit-filelist li.buddykit-filelist-item:hover
     > a.buddykit-filelist-item-delete {
        display: block;
    }

ul#buddykit-filelist li.buddykit-filelist-item > a.buddykit-filelist-item-delete:hover {
    opacity: 1;
}
.buddykit-info {
    display: none;
}

/*========== Activity Stream Start========== */
.buddypress ul.buddykit-activity-media-gallery {
    display: flex;
    flex-wrap: wrap-reverse;;
    padding: 0;
    margin: 0;
}

.buddypress ul.buddykit-activity-media-gallery.items-4 li.buddykit-activity-media-gallery-item {
    flex-basis: 50%;
}
.buddypress li.buddykit-activity-media-gallery-item {
    flex-basis: 33.3%;
    flex-grow: 1;
    background: #fff;
    padding: 1px;
    margin: 0;
}
.buddypress ul.buddykit-activity-media-gallery.items-7 li.buddykit-activity-media-gallery-item{
    flex-basis: 25%;
}
.buddypress ul.buddykit-activity-media-gallery.items-8 li.buddykit-activity-media-gallery-item{
    flex-basis: 20%;
}
.buddypress li.buddykit-activity-media-gallery-item img {
    width: 100%;
}

.activity-inner p + ul.buddykit-activity-media-gallery {
    margin-top: 1em;
}
/*========== Activity Stream End========== */

/*========== What's new activity form ==== */
input#aw-whats-new-submit[disabled=disabled] {
    cursor: not-allowed;
}
/*Upload photo/video button*/
#buddykit-container {
    padding: 10px 15px 0;
    margin-top: 15px;
    border-top: 1px solid #eee;
}
#buddykit-browse{
    border-radius: 20px;
    background: #f6f7f9!important;
    padding: 5px 7.5px;
    margin: 0 10px 0 0;
}
#buddykit-browse:before {
    content: "\f233";
    color: #87be49;
    font-family: 'dashicons';
    position: relative;
    top: 2px;
}
/*== Spinner *==*/
.buddykit-filelist-item.loading:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/spinner.gif);
    position: absolute;
    left: 5px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 25px;
}