ul#buddykit-filelist {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    margin: -1.25px -2.5px;
}
ul#buddykit-filelist li.buddykit-filelist-item {
    list-style: none;
    float: left;
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 2px;
    background: #cecece;
    margin: 2.5px 5px;
}

ul#buddykit-filelist li.buddykit-filelist-item > a.buddykit-filelist-item-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 16px;
    color: #fff;
    opacity: 0.75;
    text-shadow: 0px 1px 5px black;
    display: none;
}

ul#buddykit-filelist li.buddykit-filelist-item:hover
     > a.buddykit-filelist-item-delete {
        display: block;
    }

ul#buddykit-filelist li.buddykit-filelist-item > a.buddykit-filelist-item-delete:hover {
    opacity: 1;
}
.buddykit-info {
    display: none;
}

/*========== Activity Stream Start========== */
.buddypress ul.buddykit-activity-media-gallery {
    display: flex;
    flex-wrap: wrap-reverse;;
    padding: 0;
    margin: 0;
}

.buddypress ul.buddykit-activity-media-gallery.items-4 li.buddykit-activity-media-gallery-item {
    flex-basis: 50%;
}
.buddypress li.buddykit-activity-media-gallery-item {
    flex-basis: 33.3%;
    flex-grow: 1;
    background: #fff;
    padding: 1px;
    margin: 0;
}
.buddypress ul.buddykit-activity-media-gallery.items-7 li.buddykit-activity-media-gallery-item{
    flex-basis: 25%;
}
.buddypress li.buddykit-activity-media-gallery-item img {
    width: 100%;
}

.activity-inner p + ul.buddykit-activity-media-gallery {
    margin-top: 1em;
}
/*========== Activity Stream End========== */

/*========== What's new activity form ==== */
input#aw-whats-new-submit[disabled=disabled] {
    cursor: not-allowed;
}
