ul#buddykit-filelist {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    margin: -1.25px -2.5px;
}
ul#buddykit-filelist li.buddykit-filelist-item {
    list-style: none;
    float: left;
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 2px;
    background: #cecece;
    margin: 2.5px 5px;
}

ul#buddykit-filelist li.buddykit-filelist-item > a.buddykit-filelist-item-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 16px;
    color: #fff;
    opacity: 0.75;
    text-shadow: 0px 1px 5px black;
    display: none;
}

ul#buddykit-filelist li.buddykit-filelist-item:hover
     > a.buddykit-filelist-item-delete {
        display: block;
    }

ul#buddykit-filelist li.buddykit-filelist-item > a.buddykit-filelist-item-delete:hover {
    opacity: 1;
}